.modal-body {
  position: relative;
  padding: 0%;
}

.modal-content {
  color: black;
  position: relative;
  margin-top: 200px;
  height: 75vh;
}

.modal-title {
  color: #6a68d9;
  font-size: 25px;
  font-weight: 500;
  padding-top: 10px;
}
.modal-image {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button.close {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.modal-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.owner-adv {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-size: contain;
  position: relative;
  padding-bottom: 10px;
  p {
    position: absolute;
    left: 45px;
    top: 25%;
  }
}
.modal-footer {
  margin-top: 20px;
  h3 {
    color: $blue;
    font-size: 25px;
    font-weight: 500;
  }
}

.modal-footer p {
  color: $gray;
  font-size: 20px;
  font-weight: 200;
}

.body-left h4 {
  color: $gray;
  font-size: 20px;
  font-weight: 200;
}

.body-left p {
  color: $dark-gray;
  font-size: 20px;
  font-weight: 200;
}

.body-right {
  padding-left: 15px;
  h4 {
    color: $gray;
    font-size: 15px;
    font-weight: 400;
  }
}
